.container_rodape {
  width: 100%;
  background-color: #000;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}

.container_div {
  max-width: 1024px;
  padding: 100px 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container_div h3 {
  font-size: 18px;
}

.container_div>p {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 16px;
}

.container_card {
  width: 20%;
  height: 100px;
}

.container_div p {
  font-size: 16px;
}

.img {
    width: 100px;
    height: 100px;
}

@media (max-width: 768px){
  .container_div {
    flex-direction: column;
    padding: 80px 0;
    gap: 30px;
  }

  .container_card {
    width: 100%;
    height: auto;
    text-align: center;
  }
}