.container_topo {
  position: fixed;
  padding: 0 20px;
  width: 100%;
  background-color: #f9db79;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.container_topo div {
    width: 1024px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 100px;
    height: 100px;
}

.container_links {
    padding: 20px 0;

    display: flex;
    gap: 40px;
}

.link_home,
.link_sabores,
.link_sobre {
    flex: 1 1 100px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: black;
}

@media (max-width: 768px) {
    .container_topo div {
        flex-direction: column;
    }

    .container_topo nav {
        border-top: 1px solid grey;
        width: 100%;
        justify-content: space-around;
    }
}