.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.secao_principal {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./assets/banner-sabores.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_banner_sabores {
  padding: 20px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.titulo_banner_sabores h1{
  color: #fff;
  font-size: 100px;
  text-shadow: 3px 5px 2px #474747;
}

.secao_cards {
  width: 100%;
  padding: 100px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.secao_cards h2 {
  font-size: 30px;
  font-weight: 600;
}

.container_produtos_card {
  width: 100%;
  max-width: 1024px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1 1 300px;
  padding: 20px;
  box-shadow: 2px 2px 15px 2px #d9dde1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  line-height: 26px;
  border-radius: 4px;
}

.card h3 {
  font-size: 18px;
  text-align: center;
}

.card p {
  font-size: 16px;
  text-align: center;
}

.img_card {
  width: 100%;
  height: 66%;
  object-fit: contain;
}

/* Configuração para telas menores */

@media (max-width: 768px) {
  .titulo_banner_sabores h1 {
    font-size: 60px;
  }

  .container_produtos_card {
    flex-direction: column;
    align-items: center;
  }

  .card{
    padding: 20px 40px;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px){
  .titulo_banner_sabores h1 {
    font-size: 45px;
  }
}