.secao_principal {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../../public/banner-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  background-color: #f9db79;

  display: flex;
  align-items: center;
  justify-content: center;
}

.texto_banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;
}

.texto_banner h1 {
  font-size: 100px;
  color: #fff;
  text-shadow: 3px 5px 2px #474747;
}

.secao_nossos_sabores,
.secao_nossos_eventos,
.secao_sobre_nos {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.texto {
  width: 50%;
  height: auto;
  padding: 100px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.texto h2 {
  font-size: 36px;
}

.texto span {
  font-size: 20px;
}

.texto p {
  font-size: 16px;
}

/* Configuração de telas menores */

@media (max-width: 768px){
  .texto_banner h1 {
    font-size: 60px;
  }

  .secao_nossos_sabores {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 100%;
  }

  .texto {
    width: 100%;
    padding: 100px 20px;
  }

  .secao_nossos_eventos {
    flex-direction: column-reverse;
    align-items: center;
  }

  .secao_sobre_nos {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px){
  .texto_banner h1 {
    font-size: 40px;
  }

  .secao_principal {
    background-size: 400px;
  }
}